.header {
  background-color: rgba(32, 36, 46, 0.65);
  padding: 7px;
  margin-bottom: 40px;
  position: fixed;
  z-index: 1000;
  width: 100%;
}

.container {
  max-width: 1920px;
  margin: 0 auto;
  width: 80%;
}

.title-lang-change-icons {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.lang-change-icons {
  display: flex;
  align-items: center;
  gap: 8px;
  cursor: pointer;
}
img {
  transition: transform 0.3s ease;
}

img:hover {
  transform: scale(1.1);
}
